.slider-renders-cnt {
  text-align: center;
  padding-top: 5rem;
  min-height: fit-content;
  min-height: 600px;
}

.slider-renders-cnt p {
  text-align: center;
  padding: 2rem 20rem 6rem 20rem;
}

.slider {
  position: relative;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.arrow {
  font-size: 2.5rem;
  color: var(--mainColor);
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow {
  right: 87px;
}

.left-arrow {
  left: 87px;
}

.render-instagram {
  margin-bottom: 1.5rem;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.image {
  height: auto;
}

@media only screen and (max-width: 900px) {
  .image {
    width: 90vw;
  }

  .slider-renders-cnt p {
    padding: 2rem 4vw 5rem 4vw;
  }

  .arrow,
  .arrow-progress {
    font-size: 2rem;
  }

  .right-arrow {
    right: 57px;
  }

  .left-arrow {
    left: 57px;
  }
}

@media only screen and (max-width: 400px) {
  .arrow,
  .arrow-progress {
    font-size: 1.5rem;
  }

  .right-arrow {
    right: 27px;
  }

  .left-arrow {
    left: 27px;
  }
}

@media only screen and (max-width: 200px) {
  .arrow,
  .arrow-progress {
    font-size: 1rem;
  }
}
