* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainBackground: #1a1a1a;
  --subBackground: #272727;
  --mainBackgroundNav: #1a1a1ade;
  --mainInverseBackground: #e9e9e9;
  --mainColor: #ffda38;
  --mainFontColor: #e6e6e6;
  --subFontColor: #bbbbbb;
  --mainInverseFontColor: #1f1f1f;
  --teeSpringColor: #ee2761;
  --patreonColor: #ff424e;
  --patreonColorWhite: #aa0707;

  --marginLayout: 8rem;

  --largeFont: clamp(3rem, 5vw, 16rem);
  --bigFont: clamp(2rem, 4vw, 5rem);
  --mediumFont: clamp(1.8rem, 1.8vw, 3rem);
  --btnFont: clamp(1rem, 1.4vw, 2.2rem);
  --smallFont: clamp(1rem, 1.2vw, 2rem);
  --tinyFont: clamp(0.7rem, 1.2vw, 2rem);
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Tahoma, Geneva, Verdana,
    sans-serif, 'Segoe UI';
  background-color: var(--mainBackground);
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  color: var(--mainFontColor);
}

.white {
  color: var(--mainFontColor);
}

.large-font {
  font-size: var(--largeFont);
}

.big-font {
  font-size: var(--bigFont);
}

.medium-font {
  font-size: var(--mediumFont);
}

.small-font {
  line-height: 1.5rem;
  font-size: var(--smallFont);
  font-weight: 400;
}

.tiny-font {
  font-size: var(--smallFont);
  font-weight: 400;
}

.btn-font {
  font-size: var(--btnFont);
  font-weight: 400;
}

.small-font-sub {
  font-size: var(--smallFont);
  font-weight: 400;
  color: var(--subFontColor);
}

.font-color-inverse {
  color: var(--mainInverseFontColor);
}

.underline {
  text-decoration: underline;
}

.highlight-patreon {
  color: var(--patreonColor);
  font-weight: 700;
}

.highlight-patreon-white {
  color: var(--patreonColorWhite);
  font-weight: 700;
}

.highlight-2 {
  font-weight: 600;
}

.highlight {
  font-weight: 700;
}

.highlight-main {
  color: var(--mainColor);
  font-weight: 700;
}

.highlight-teespring {
  color: var(--teeSpringColor);
  font-weight: 700;
}

.btn {
  display: block;
  width: fit-content;
  cursor: pointer;
  padding: 1.1rem 1.4rem;
  background-color: var(--mainColor);
  border: none;
  border-radius: 0.3rem;
  font-size: var(--smallFont);
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.btn2 {
  padding: 0.6rem 0.9rem;
  color: #1a1a1a;
}

.btn-paypal {
  background-color: #0070ba;
}

.btn-cookie {
  cursor: pointer;
  padding: 0.6rem 1rem !important;
  background-color: var(--mainColor) !important;
  border: none;
  border-radius: 0.3rem !important;
  font-size: var(--smallFont) !important;
  transition: 0.2s ease-in-out;
  font-weight: 600;
}

.content-cookie {
  background-color: black;
  color: #0655ab;
}

.patreon-clr {
  background-color: var(--patreonColor);
}

.teespring-clr {
  background-color: var(--teeSpringColor);
}

.btn:hover {
  transform: scale(1.04);
}

.btn:focus {
  transform: scale(1.05);
}

.btn-line {
  display: block;
  width: fit-content;
  cursor: pointer;
  width: fit-content;
  padding: 1.1rem 1.4rem;
  background-color: transparent;
  color: var(--mainFontColor);
  border: 1px solid white;
  border-radius: 0.3rem;
  font-size: var(--smallFont);
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

.btn3 {
  padding: 0.6rem 0.9rem;
}

.btn-line-2 {
  color: var(--mainBackground);
  border: 1px solid var(--mainBackground);
}

.btn-merch {
  padding: 0.6rem 1.1rem;
}

.btn-line:hover {
  background-color: white;
  color: black;
}

button:focus {
  border: 0;
  outline: none;
}

button:active {
  border: 0;
  outline: none;
}

nav li > a {
  display: block;
  cursor: pointer;
}

.advertising a {
  margin: 2rem;
}

.advertising p {
  padding: 0rem 14rem;
}

.margin-section {
  margin-bottom: 15rem;
}

.italic {
  font-style: italic;
}

#nprogress .bar {
  background: #fee648;

  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

#nprogress .spinner {
  display: none;
}

@import './nav.css';
@import './homepage.css';
@import './texturelist.css';
@import './categorylist.css';
@import './category.css';
@import './method.css';
@import './terms.css';
@import './contact.css';
@import './authors.css';

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.a2 {
  color: black;
  font-weight: 700;
}

li {
  list-style: none;
}

.cnt {
  display: flex;
  flex-direction: column;
}

.crypto {
  user-select: none;
  -webkit-user-drag: none;
  text-decoration: none;
  font-weight: 600;
  background: #1652f0 linear-gradient(#1652f0, #0655ab);
  width: fit-content;
  cursor: pointer;
  width: fit-content;
  padding: 1.1rem 1.4rem;
  border-radius: 0.3rem;
  font-size: var(--smallFont);
  transition: 0.3s ease-in-out;
  font-weight: 600;
}

.advertising {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 5rem 3rem;
}

.advertising h2 {
  margin-top: 5rem;
}

.advertising p {
  margin-top: 3rem;
}

.advertising a {
  margin: 3rem 0rem 5rem 0rem;
}

.line {
  height: 1px;
  width: 50vw;
  border-radius: 3rem;
  background-color: aliceblue;
}

.notfound-cnt {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.notfound-cnt h1 {
  padding: 2rem 5vw;
}

.feedback-cnt {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white {
  color: white !important;
}

.black {
  color: rgb(0, 0, 0) !important;
}

.stripe {
  color: #8c86ff;
}

.feedback {
  width: 90vw;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--subBackground);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--mainFontColor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--mainColor);
}

.under-development div {
  padding-top: 10rem;
  background-color: var(--mainBackground);
}

.under-development {
  background-color: var(--mainBackground);
}

.under-development h1 {
  padding-bottom: 2rem;
}

.CookieConsent {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.CookieConsent div {
  margin-right: 2rem;
}

.social-mobile-cnt {
  z-index: 3;
  opacity: 1;
  position: fixed;
  right: 30px;
  bottom: 40px;
}

.hashtag {
  color: #e6e6e6;
  padding: 12px;
  border-radius: 3px;
  background-color: #1a1a1a;
  transform: skewX(-10deg) !important;
}

@import './query.css';
