.under-development {
  z-index: 8888888888;
  position: absolute;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
}

.lang-button {
  position: absolute;
}

.flex-50 {
  display: flex;
  flex-direction: row;
}

.flex-50 > *:nth-child(1) {
  flex: 1 1 50%;
}

.flex-50 > *:nth-child(2) {
  flex: 1 1 50%;
}

.container-mainpage {
  position: relative;
  padding-bottom: 16rem;
}

.container-mainpage > *:nth-child(1) {
  margin-left: 8rem;
  margin-top: 10rem;
}

.container-mainpage > *:nth-child(2) {
  text-align: center;
  margin-top: 8rem;
}

.container-mainpage p {
  margin: 2rem 0rem;
  padding-right: 6rem;
}

.header-bnt-cnt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.lang-cnt-2 {
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.lang-cnt {
  display: flex;
  flex-direction: row;
  background-color: var(--subBackground);
  border-radius: 0.3rem;
  padding: 0.5rem 0.9rem;
  gap: 1rem;
}

.language {
  background-color: var(--mainColor);
  border-radius: 0.3rem;
  color: black !important;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.language:hover {
  background-color: white;
}

.container-ico {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 11rem;
  left: 3rem;
  gap: 1.2rem;
}

.container-ico > a {
  transition: 0.2s ease-in;
}

.container-ico > a:hover {
  transform: scale(1.2);
}

.footer-ico > a {
  transition: 0.2s ease-in;
}

.footer-ico > a:hover {
  transform: scale(1.2);
}

/* ---------------------- PROGRESBAR BEGIN ---------- */
/* ---------------------- PROGRESBAR BEGIN ---------- */
/* ---------------------- PROGRESBAR BEGIN ---------- */

.cnt-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cnt-progress-text {
  margin-bottom: 0.7rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cnt-progress h3 {
  align-self: flex-end;
  margin-bottom: 0.4rem;
  text-align: center;
}

.arrow-progress {
  font-size: 2.5rem;
  color: var(--mainColor);
}

.progress {
  background-color: #d8d8d8;
  border-radius: 10px;
  position: relative;
  height: clamp(3rem, 4vw, 6rem);
  width: 80vw;
}

.progress-done {
  background: linear-gradient(to left, var(--patreonColor), #f576a0);
  -webkit-box-shadow: 0px 0px 28px 5px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 25px 7px rgba(207, 24, 24, 0.767);
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  transition: 10s ease 0.3s;
}

/* ---------------------- STATS BEGIN ---------- */
/* ---------------------- STATS BEGIN ---------- */
/* ---------------------- STATS BEGIN ---------- */

.stats {
  padding-bottom: 0.2rem;
  background-color: var(--mainInverseBackground);
}

.stats h3 {
  margin-top: -3rem;
}

.patreon-p {
  color: black !important;
}

.stats-title {
  text-align: center;
}

.container-cards {
  transform: translateY(-10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin: 8rem 0rem 0rem 0rem;
}

.card {
  text-align: center;
  padding: 2rem;
  background-color: var(--subBackground);
  width: 24rem;
}

.card-patreon {
  background-color: var(--mainColor);
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-patreon a {
  margin-top: 2rem;
}

.card-patreon > * {
  color: black;
}

.card h2 {
  margin: 1.5rem 0rem;
}

.container-numbers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 9rem;
  margin: 5rem 0rem 3rem 0rem;
}

.numbers {
  text-align: center;
  margin: 1rem 0rem;
}

/* ---------------------- PATREON BEGIN ---------- */
/* ---------------------- PATREON BEGIN ---------- */
/* ---------------------- PATREON BEGIN ---------- */

.patreon {
  padding: 9rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--mainBackground);
}

.patreon > *:nth-child(1) {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.patreon-h2 {
  margin-bottom: 3rem;
}

.patreon p {
  padding: 2rem 14rem;
}

.patreon a {
  margin-top: 5rem;
  padding: 1.6rem 2rem;
}

.patreon > *:nth-child(2) {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------- VIDEO BEGIN ---------- */
/* -------------------- VIDEO BEGIN ---------- */
/* -------------------- VIDEO BEGIN ---------- */

.cnt-video {
  text-align: center;
  position: relative;
  height: 100vh;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.text-video {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 27vw;
  top: 25%;
}

.cnt-video p {
  margin: 3rem 0rem;
}

/* -------------------- SHOWCASE BEGIN ---------- */
/* -------------------- SHOWCASE BEGIN ---------- */
/* -------------------- SHOWCASE BEGIN ---------- */

.texture-example h3 {
  margin-bottom: 1.5rem;
}

.texture-example-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.texture-example-1 > *:nth-child(2) {
  padding: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.texture-example-2 > *:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8rem;
}

.texture-example-2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.texture-example-3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.texture-example-3 > *:nth-child(2) {
  padding: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn-texture-example {
  margin-top: 3rem;
}

/* -------------------- 3D MODELS BEGIN ---------- */
/* -------------------- 3D MODELS BEGIN ---------- */
/* -------------------- 3D MODELS BEGIN ---------- */

.hp-3d-model-cnt {
  background: url(../public/3d-model-showcase.jpeg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/3d-model-showcase.jpeg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-bottom: 3rem;
  min-height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3rem;
  text-align: center;
}

.hp-3d-model-cnt p {
  margin: 1.5rem 0;
  padding: 0 25rem;
}

.model-3d-example img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.model-3d-example-cnt > *:nth-child(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8rem;
}

.model-3d-example-cnt-2 > *:nth-child(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 8rem;
}

.model-3d-example-cnt p {
  margin: 1.5rem 0;
}

.model-3d-example-cnt-2 p {
  margin: 1.5rem 0;
}

/* -------------------- CC0 BEGIN ---------- */
/* -------------------- CC0 BEGIN ---------- */
/* -------------------- CC0 BEGIN ---------- */

.cnt-cc0 {
  background: url(../public/texture-cc0.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/texture-cc0.jpg) no-repeat fixed;
  background-size: cover;
  width: 100%;
  min-height: min-content;
}

.cc0-texture {
  padding: 11rem 38rem 9rem 5rem;
}

/* -------------------- MERCHANDISE BEGIN ---------- */
/* -------------------- MERCHANDISE BEGIN ---------- */
/* -------------------- MERCHANDISE BEGIN ---------- */

.merch-cnt {
  display: flex;
  flex-direction: row;
}

.merch-first-col div:nth-child(1) {
  margin-left: var(--marginLayout);
  padding-right: 5rem;
}

.merch-first-col p {
  margin: 2rem 0;
}

.slider {
  position: relative;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.arrow {
  font-size: 2.5rem;
  color: var(--mainColor);
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow {
  right: 87px;
}

.left-arrow {
  left: 87px;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}

@media only screen and (max-width: 900px) {
  .slider-renders-cnt p {
    padding: 2rem 4vw 5rem 4vw;
  }

  .arrow,
  .arrow-progress {
    font-size: 2rem;
  }

  .right-arrow {
    right: 57px;
  }

  .left-arrow {
    left: 57px;
  }
}

@media only screen and (max-width: 400px) {
  .arrow,
  .arrow-progress {
    font-size: 1.5rem;
  }

  .right-arrow {
    right: 27px;
  }

  .left-arrow {
    left: 27px;
  }
}

@media only screen and (max-width: 200px) {
  .arrow,
  .arrow-progress {
    font-size: 1rem;
  }
}

.image-merch {
  width: 100%;
  object-fit: contain;
}

/* -------------------- MYSELF BEGIN ---------- */
/* -------------------- MYSELF BEGIN ---------- */
/* -------------------- MYSELF BEGIN ---------- */

.myself > *:nth-child(1) {
  text-align: center;
}

.myself-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.myself-text p {
  margin: 2rem 0rem 2rem 0rem;
  padding: 0rem 16rem 0rem 0rem;
}

.myself-icon-cnt {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

/* -------------------- CAROUSEL BEGIN ---------- */
/* -------------------- CAROUSEL BEGIN ---------- */
/* -------------------- CAROUSEL BEGIN ---------- */

.carousel-heading-cnt {
  text-align: center;
  padding: 0rem 17rem;
  padding-bottom: 2rem;
}

.outer-container {
  height: 100vh;
  display: flex;
}

.outer-container .carousel-wrapper {
  padding: 2rem 0rem 2rem 7rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
}

.outer-container .content {
  color: white;
  padding: 0 2rem;
  text-align: center;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 60%;
}

.carousel-img {
  width: 30vw;
  height: auto;
  object-fit: contain;
}

.leading-text {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 5;
  align-items: center;
}

.carousel-button {
  cursor: pointer;
  background-color: var(--mainBackground);
  transition: 0.3s ease-in-out;
}

.carousel-button:hover {
  transform: scale(1.1);
}

.carousel-button svg {
  height: 26px;
  width: 26px;
}

.slides {
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  position: relative;
  max-height: 250px;
  height: 250px;
}

.carousel-inner::before,
.carousel-inner::after {
  content: '';
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 110px;
  pointer-events: none;
}

.carousel-inner::before {
  top: 0;
  background: linear-gradient(
    0deg,
    hsla(0, 0%, 100%, 0) 0%,
    var(--mainBackground) 100%
  );
}

.carousel-inner::after {
  bottom: 0;
  background: linear-gradient(
    0deg,
    var(--mainBackground) 0%,
    hsla(0, 0%, 100%, 0) 100%
  );
}

.carousel-item {
  position: absolute;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  top: 104px;
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.carousel-cnt h3 {
  margin-bottom: 1rem;
}

.carousel-item.visible {
  opacity: 1;
}

.artist-image {
  border-radius: 2rem;
  margin-bottom: -0.5rem;
  margin-left: 1rem;
}

.artists-cnt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .outer-container .carousel-wrapper {
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1 1 40%;
  }
}

@media only screen and (max-width: 800px) {
  .outer-container {
    height: 150vh;
    display: flex;
    flex-direction: column;
  }

  .outer-container .content {
    padding: 0 1rem;
    gap: 2rem;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 60%;
  }
}

.image-myself {
  transform: scaleX(-1);
}
