.merch-cnt {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.merch-first-col {
  padding-top: 11rem;
  flex: 1 1 50%;
}

.merch-first-col div:nth-child(1) {
  margin-left: var(--marginLayout);
  padding-right: 5rem;
}

.merch-first-col p {
  margin: 1rem 0;
}

.merch-btn-cnt {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.merch-sec-col {
  padding-top: 9rem;
  background-color: var(--mainColor);
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merch-sec-col img {
  width: 100%;
  height: auto;
}

.merch-third-col {
  padding-top: 9rem;
  flex: 1 1 30%;
  display: flex;
}

.merch-third-col div:nth-child(1) {
  padding-right: 3rem;
  margin-left: 3rem;
  align-self: flex-end;
  margin-bottom: 13rem;
}

.merch-link-home p {
  margin: 1rem 0;
}

.h3-merch {
  margin: 6rem 0rem;
  text-align: center;
}

.merch-link-home a {
  color: black !important;
  border: black solid 2px !important;
}

.merch-img {
  z-index: 5;
  position: absolute;
  top: 8rem;
  left: 32%;
}

.merch-link-home {
  bottom: 30px;
  right: 0;
  padding-right: 4rem;
  padding-left: 18rem;
  position: absolute;
}

.merch-main-cnt-1 {
  padding: 0 10rem 0 0;
  margin-left: var(--marginLayout);
}

.merch-main-cnt-1 p {
  margin: 2rem 0;
}

.merch-main-cnt-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.merch-ico-cnt {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.merch-ico-list {
  gap: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
