.navbar {
  background: var(--mainBackgroundNav);
  width: 100%;
  position: fixed;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: #fff;
  gap: 1rem;
  padding: 0 4.2rem;
  z-index: 9;
}

.arrow-navbar {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
}

.arrow-navbar2 {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
}

.arrow-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  gap: 1.5rem;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: var(--patreonColor);
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: rgb(223, 26, 26);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu2 {
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.dropdown-menu li {
  background: var(--subBackground);
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.dropdown-menu li:hover {
  background: var(--mainColor);
  color: black;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 1100px) {
  .navbar {
    height: fit-content;
    display: flex;
    padding: 0;
  }

  .navbar-logo-cnt {
    padding: 1rem 0;
    width: 43%;
  }
}

@media screen and (max-width: 1100px) {
  .NavbarItems {
    position: relative;
  }

  .navbar {
    justify-content: flex-start;
  }

  .arrow-navbar {
    display: none;
  }

  .lang-cnt {
    display: flex;
    flex-direction: column;
    background-color: var(--subBackground);
    border-radius: 0.3rem;
    padding: 0.5rem 0.9rem;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    background: #1a1a1af6;
    z-index: 25;
  }

  .test {
    z-index: 88;
    color: white;
  }

  .nav-menu.active {
    left: -20%;
    transition: all 0.5s ease;
    z-index: 100;
  }

  .nav-item {
    margin-left: 50%;
  }

  .nav-links:hover {
    background-color: #1888ff;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  span {
    color: aliceblue;
    z-index: 19;
    display: block;
    opacity: 1;
  }
}

/* ---------------------- FOOTER BEGIN ---------- */
/* ---------------------- FOOTER BEGIN ---------- */
/* ---------------------- FOOTER BEGIN ---------- */

.footer {
  padding: 4rem 0rem;
  background-color: var(--mainInverseBackground);
}

.footer-links {
  padding: 0rem 0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4.5rem;
}
.footer-links li {
  margin-top: 0.8rem;
  color: black;
}

.footer-label {
  margin-bottom: 1rem;
  color: black;
}

.footer label {
  color: black;
}

.footer-ico {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4rem 0rem 2rem 0rem;
}

.footer p {
  color: black;
  text-align: center;
}

.footer-first-cnt {
  padding: 0 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-first-cnt > *:nth-child(1) {
  flex: 1 1 60%;
}

.footer-first-cnt > *:nth-child(2) {
  flex: 1 1 40%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.form-newsletter {
  width: 60vh;
}

.form-news-cnt p {
  text-align: left;
}

.nav-icon-cnt a {
  align-items: center;
  display: flex;
}

.form-newsletter input {
  margin-left: 0.5rem;
}

.nav-icon-cnt img {
  margin-right: 1rem;
}
