.cnt-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cnt-progress h3 {
  align-self: flex-end;
  margin-bottom: 0.4rem;
  text-align: center;
}

.arrow {
  font-size: 60px;
}

.progress {
  background-color: #d8d8d8;
  border-radius: 10px;
  position: relative;
  height: clamp(3rem, 4vw, 6rem);
  width: 80vw;
}

.progress-done {
  background: linear-gradient(to left, var(--patreonColor), #f576a0);
  -webkit-box-shadow: 0px 0px 28px 5px rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 25px 7px rgba(207, 24, 24, 0.767);
  border-radius: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  transition: 10s ease 0.3s;
}
