.container-list-texture {
  display: flex;
}

.container-list-texture > *:nth-child(1) {
  flex: 1 1 15%;
  margin-top: 9rem;
}

.container-list-texture > *:nth-child(2) {
  margin-top: 9rem;
  flex: 1 1 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.categories-list {
  margin-left: 2rem;
  margin-top: 1rem;
}

.page-btn {
  margin-top: 4rem;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.texture-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9rem 0;
}

.single-texture-card {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-btn {
  margin-bottom: 3rem;
}

.single-texture-card a {
  color: var(--mainFontColor);
}

.single-texture-card .btn {
  color: var(--mainBackground);
}

.texture-list-up-cnt {
  display: flex;
  margin-bottom: 2rem;
  gap: 2rem;
}

.texture-list-up-cnt p {
  padding-right: 6rem;
}

/*--------------------  TEXTURE BEGIN  ------- */
/*--------------------  TEXTURE BEGIN  ------- */
/*--------------------  TEXTURE BEGIN  ------- */

.container-single-texture {
  display: flex;
}

.container-single-texture > *:nth-child(1) {
  flex: 1 1 60%;
  margin-top: 9rem;
}

.container-single-texture > *:nth-child(2) {
  flex: 1 1 50%;
  margin-top: 9rem;
}

.container-texture-image:nth-child(1) {
  display: block;
  text-align: center;
  gap: 3rem;
}

.sponsor-cnt {
  margin-top: 5rem;
  width: 75%;
}

.sponsor-cnt h4 {
  border-top: 0.1rem solid rgb(202, 202, 202);
  padding-top: 1rem;
  margin-top: 2rem;
}

.sponsor-cnt p {
  margin: 1.1rem 0rem;
}

.sponsor-img {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

.cnt-first-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 6rem;
}

.donate-btn h2 {
  padding-bottom: 1rem;
}

.first-details {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.container-texture-details h2 {
  margin: 7rem 0rem -1rem 0rem;
}

.title-texture {
  margin-bottom: 2rem;
}

.first-details h3 {
  margin-left: 0.6rem;
}

.first-details > *:nth-child(1) {
  display: flex;
  flex-direction: row;
}

.first-details > *:nth-child(2) {
  display: flex;
  flex-direction: row;
}

.list-detail li {
  margin: 1.5rem 0rem;
}

.container-links li {
  margin: 0.5rem 0rem;
  cursor: pointer;
}

.container-links {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: 3rem;
}

.list-detail {
  display: flex;
  flex-wrap: wrap;
  padding-right: 9rem;
  gap: 0rem 2rem;
}

.list-detail li {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  align-items: center;
}

.ico-list-single {
  margin-bottom: 0.6rem;
}

.container-links ul:nth-child(2) {
  margin-left: 2rem;
}

.gear-list {
  padding: 0rem 2rem;
}

.gear-list li {
  margin: 0.6rem 0rem;
}

.gear-list:nth-child(1) {
  padding-left: 0;
}

.highlight-bck {
  margin: 0rem 0.2rem;
  background-color: var(--subBackground);
  border-radius: 0.4rem;
  padding: 0.2rem 0.3rem;
}

.donate-btn {
  display: flex;
  margin-top: 5rem;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 3rem;
}

.donate-btn h2 {
  margin-bottom: 0.5rem;
}

.donate-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 78%;
  gap: 1rem;
}

.btn-paypal {
  margin: 0;
}

.sponsor-texture {
  line-height: 2.5rem;
  margin-top: 1rem;
}

.h2-suggest {
  text-align: center;
  margin: 4rem 0rem 4rem 0rem;
}

.texture-suggest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3rem;
}

.social-share-cnt {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-share-cnt button {
  width: fit-content;
}

.p-slug {
  padding-right: 12rem;
}

.paypal-crypto-cnt {
  margin-top: 1.5rem;
  display: flex;
  gap: 3.5rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: rgb(240, 240, 240);
}

.page-container {
  padding-bottom: 60px;
  max-width: 600px;
}

.error-message {
  color: #ef2961;
}

.FormRow,
fieldset,
input[type='number'],
input[type='text'] {
  border-radius: 6px;
  padding: 5px 12px;
  width: 100%;
  background: #fff;
  appearance: none;
  font-size: 16px;
  margin-top: 10px;
}

fieldset {
  margin-top: -20px;
}

input[type='number'] {
  margin-top: 1rem;
}

fieldset {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

fieldset legend {
  background-color: none;
  padding-top: 3rem;
}

input[type='range'] {
  margin: 5px 0;
  width: 100%;
}

.stripe-icon {
  margin-bottom: -0.7rem;
  margin-left: 0.6rem;
}

button {
  border-radius: 6px;
  color: white;
  font-size: larger;
  border: 0;
  padding: 12px 16px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  width: 100%;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.elements-style {
  color: #6772e5;
  border: 1px solid #6772e5;
}

.elements-style-background {
  background: #635bff;
  transition: box-shadow 2s;
}

.texture-accordion-cnt {
  width: 90%;
}

.texture-accordion-title {
  background-color: var(--subBackground);
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.texture-accordion-title {
  padding-left: 1rem;
}

.texture-accordion-open {
  margin-right: 1rem;
  color: white;
  font-size: 30px;
}

.accordion-content p {
  padding: 1rem;
}

.open {
  margin-bottom: 0;
  opacity: 1;
  background-color: var(--subBackground);
}

.close {
  margin-bottom: -13rem;
  opacity: 0;
  background-color: var(--mainBackground);
}

@media only screen and (max-width: 980px) {
  .container {
    flex-direction: column;
  }

  .header-content {
    max-width: 280px;
    position: relative;
    top: 0;
  }

  .card {
    margin: 0 20px 20px 0;
    box-shadow: none;
  }

  .card-list {
    padding-top: 0;
  }

  .banner {
    box-shadow: none;
    bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .card-list {
    padding-top: 0;
  }
}
