.container-list-texture {
  display: flex;
}

.container-list-texture > *:nth-child(1) {
  flex: 1 1 20%;
  margin-top: 7rem;
}

.container-list-texture > *:nth-child(2) {
  margin-top: 7rem;
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}

.categories-list {
  margin-left: 2rem;
}

.page-btn {
  margin-top: 4rem;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.texture-list-up-cnt {
  display: flex;
  margin-bottom: 2rem;
  gap: 2rem;
}

.texture-list-up-cnt > *:nth-child(1) {
  flex: 1 1 33%;
}
.texture-list-up-cnt > *:nth-child(2) {
  flex: 1 1 33%;
}
.texture-list-up-cnt > *:nth-child(3) {
  flex: 1 1 33%;
}

/*--------------------  TEXTURE BEGIN  ------- */
/*--------------------  TEXTURE BEGIN  ------- */
/*--------------------  TEXTURE BEGIN  ------- */

.container-single-texture {
  display: flex;
}

.container-single-texture > *:nth-child(1) {
  flex: 1 1 50%;
  margin-top: 8rem;
}

.container-single-texture > *:nth-child(2) {
  flex: 1 1 50%;
  margin-top: 8rem;
}

.container-texture-image:nth-child(1) {
  display: block;
  text-align: center;
  gap: 3rem;
}

.sponsor-cnt {
  margin-top: 3rem;
}

.cnt-first-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.donate-btn h2 {
  padding-bottom: 1rem;
}

.first-details {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.container-texture-details h2 {
  margin: 3rem 0rem -1rem 0rem;
}

.title-texture {
  margin-bottom: 1rem;
}

.first-details h3 {
  margin-left: 0.6rem;
}

.first-details > *:nth-child(1) {
  display: flex;
  flex-direction: row;
}

.first-details > *:nth-child(2) {
  display: flex;
  flex-direction: row;
}

.list-detail li {
  margin: 1.5rem 0rem;
}

.container-links li {
  margin: 0.5rem 0rem;
  cursor: pointer;
}

.container-links {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin-top: 3rem;
}

.list-detail {
  display: flex;
  flex-wrap: wrap;
  padding-right: 9rem;
  gap: 2rem;
}

.list-detail li {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  align-items: center;
}

.ico-list-single {
  margin-bottom: 0.6rem;
}

.container-links ul:nth-child(2) {
  margin-left: 2rem;
}

.gear-list {
  padding: 0rem 1rem;
}

.gear-list li {
  margin: 0.6rem 0rem;
}

.gear-list:nth-child(1) {
  padding-left: 0;
}

.highlight-bck {
  margin: 0rem 0.2rem;
  background-color: var(--subBackground);
  border-radius: 0.4rem;
  padding: 0.2rem 0.3rem;
}

.donate-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 3rem;
}

.donate-btn h2 {
  margin-bottom: 0.5rem;
}

.donate-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.sponsor-texture {
  line-height: 2.5rem;
  margin-top: 1rem;
}

.h2-suggest {
  text-align: center;
  margin: 4rem 0rem 4rem 0rem;
}

.texture-suggest {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 3rem;
}

.social-share-cnt {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.social-share-cnt button {
  width: fit-content;
}

.p-slug {
  padding-right: 12rem;
}

.paypal-crypto-cnt {
  margin-top: 3rem;
  display: flex;
  gap: 3.5rem;
  align-items: center;
  flex-direction: row;
  color: rgb(240, 240, 240);
}

.page-container {
  padding-bottom: 60px;
  max-width: 600px;
}

.error-message {
  color: #ef2961;
}

.FormRow,
fieldset,
input[type='number'],
input[type='text'] {
  border-radius: 6px;
  padding: 5px 12px;
  width: 100%;
  background: #fff;
  appearance: none;
  font-size: 16px;
  margin-top: 10px;
}

input[type='number'] {
  margin-top: 1rem;
}

fieldset {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

fieldset legend {
  background-color: none;
  padding-top: 1rem;
}

input[type='range'] {
  margin: 5px 0;
  width: 100%;
}
.stripe-icon {
  margin-bottom: -0.7rem;
  margin-left: 0.6rem;
}

button {
  border-radius: 6px;
  color: white;
  font-size: larger;
  border: 0;
  padding: 12px 16px;
  margin-top: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
  width: 100%;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.elements-style {
  color: #6772e5;
  border: 1px solid #6772e5;
}
.elements-style-background {
  background: #635bff;
  transition: box-shadow 2s;
}

/* Test card number */
.test-card-notice {
  display: block;
  margin-block-start: -1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.card-number {
  display: inline;
  white-space: nowrap;
  color: #3c4257;
  font-weight: 500;
}
.card-number span {
  display: inline-block;
  width: 4px;
}

@media only screen and (max-width: 980px) {
  .container {
    flex-direction: column;
  }

  .header-content {
    max-width: 280px;
    position: relative;
    top: 0;
  }

  .card {
    margin: 0 20px 20px 0;
    box-shadow: none;
  }

  .card-list {
    padding-top: 0;
  }

  .banner {
    box-shadow: none;
    bottom: 0;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }

  .card {
    display: block;
    border-radius: 8px;
    flex: 1 0 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 0 20px 0;
    box-shadow: none;
  }

  .card-list {
    padding-top: 0;
  }

  code,
  pre,
  h3 {
    display: none;
  }

  .banner {
    box-shadow: none;
    bottom: 0;
  }
}
